.w {
    width: 1200px;
    margin: 0 auto;
}
.s {
    width: 900px;
    margin: 0 auto;
}
.header{
    height: 70px;
    border-bottom: 2px solid white;
}  

.logo {
    float: left;
    width: 80px;
    height: 80px;
}

.logo img{
    width: 85px;
    height: 85px;
    padding-left: 40px;
}


.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 50px;
    padding: 0 20px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    line-height: 70px;
}

.nav ul li a:hover {
    color: gray;
}

.usericon {
    display: flex;
    float: right;
    width: 45px;
    height: 45px;
    margin-right: 20px;
    margin-top: 10px;
}

.worldicon {
    display: flex;
    float: right;
    width: 45px;
    height: 45px;
    margin-top: 11px;
    margin-right: 10px;
}

